In [88]:
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [102]:
folder = 'G:/내 드라이브/workspace/2023-research/biased-sentence-classifier/dataset'

# Paper : Gender Bias in Text: Labeled Datasets and Lexicons

##  Gender bias lexicons
- https://github.com/jaddoughman/Gender-Bias-Datasets-Lexicons

In [103]:
path = f"{folder}/Gender-Bias-Datasets-Lexicons/exclusionary_terms/gendered_neologisms.csv"
neologisms = pd.read_csv(path, index_col = 0)
neologisms

,word_id,word,up_votes,down_votes,author,definition
940,1489,Going Commando,1475,283,54687972,Not wearing any underpants
1372,2408,manboobs,167,67,26b8791b,the name gives to the Male's breasts when they...
1534,2935,mangina,4148,3065,7023258c,when a guy pulls his dick and balls back betwe...
1790,3903,man boobs,132,42,7851fc3b,chris' massive man tits
2121,5102,manager,703,132,78947fd9,Someone too incompetent to do any real work bu...
...,...,...,...,...,...,...
2541719,8415807,manspreading,196,53,877cc4ba,A term used by Third-Wave Feminists to describ...
2547219,8481109,mansae,128,14,dc48db71,the best shiet evah. stands for hurray bc seve...
2554399,8598009,Roadman,287,74,37758dc,typical teenage boys who drop out of school an...
2558513,8667744,Roadman,120,30,382192ac,The true definition of a roadman is a guy with...
2570978,8872179,mansplaining,173,23,7c7f2367,When a man uses valid logic to counter an illo...

#### 데이터셋은 좀 이상해서 쓸 수가 없음

In [104]:
path = f'{folder}/Gender-Bias-Datasets-Lexicons/generic_pronouns/dataset.csv'
dataset = pd.read_csv(path)
dataset

                                               sentence     label
0     ( all these are being observed , recorded by a...   Neutral
1     So although a dj might have his/her hand on so...   Neutral
2     A local chiropractor advertises that his/her t...   Neutral
3          Can a priest wear his/her collar in a store?   Neutral
4     We had a man play guitar and lead us in song a...   Neutral
...                                                 ...       ...
3504  (also, if the subject is unaware of the fact t...  Positive
3505  ( all these are being observed , recorded by a...  Positive
3506  “if” a chiropractor truly does his/her job, he...   Neutral
3507  "cinema paradiso" - a filmmaker reflects on hi...  Negative
3508  , i do not think there is a unified idea about...  Negative

[3509 rows x 2 columns]

In [75]:
idx = 3001
dataset.iloc[idx]['sentence'], dataset.iloc[idx]['label']

("She's a solo artist, also a rapper and one of her videos on youtube has half-a-billion views.",
 'Negative')

## 2. tweet dataset
- tweeter API 접근 권한 필요.
- tweeter 가입해봤는데 국내이용자들은 폰 번호 계정에 연결하는 문제가 있음..!
    - tweeter API 접근 불가능한 상황
    
#### tweet1, tweet 2
- https://github.com/zeeraktalat/hatespeech

#### tweet3, tweet 4
- https://github.com/AkshitaJha/NLP_CSS_2017

In [111]:
"""
Tweeter API 이용하는 코드 -> chatgpt
"""
# import tweepy

# # Replace with your API credentials
# consumer_key = "your_consumer_key"
# consumer_secret = "your_consumer_secret"
# access_token = "your_access_token"
# access_token_secret = "your_access_token_secret"

# # Authenticate with the Twitter API
# auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_token_secret)
# api = tweepy.API(auth)

# # Replace with the tweet ID you want to fetch
# tweet_id = "1234567890123456789"

# # Fetch the tweet
# tweet = api.get_status(tweet_id, tweet_mode="extended")

# # Print the tweet text
# print(tweet.full_text)

'\nTweeter API 이용하는 코드 -> chatgpt\n'

### tweet 1 : sexism, racism

In [105]:
path = f'{folder}/hatespeech/NLP+CSS_2016.csv'
tweet1 = pd.read_csv(path, sep='\t')[['TweetID', 'Expert']]
tweet1

                    TweetID   Expert
597576902212063232  neither  neither
565586175864610817  neither  neither
563881580209246209  neither  neither
595380689534656512  neither  neither
563757610327748608  neither  neither
...                     ...      ...
569176414999588864  neither  neither
571437409843306496   sexism   sexism
569743990897057792  neither  neither
563027947423272960  neither  neither
563896118614839297  neither  neither

[6909 rows x 2 columns]

In [110]:
tweet1.Expert.unique()

array(['neither', 'sexism', 'racism', 'both', 'link'], dtype=object)

### tweet 2 : racism (쓸 일 없을 수 있음)

In [106]:
path = f'{folder}/hatespeech/NAACL_SRW_2016.csv'
tweet2 = pd.read_csv(path)
tweet2

       572342978255048705  racism
0      572341498827522049  racism
1      572340476503724032  racism
2      572334712804384768  racism
3      572332655397629952  racism
4      575949086055997440  racism
...                   ...     ...
16901  576359685843861505    none
16902  576612926838046720    none
16903  576771329975664640    none
16904  560595245814267905    none
16905  569363477095174145    none

[16906 rows x 2 columns]

### tweet 3, tweet 4 : sexism

In [108]:
path = f'{folder}/NLP_CSS_2017/benevolent_sexist.tsv'
tweet3 = pd.read_csv(path, sep='\t', header=None)
tweet3

                       0
0     839880162586071040
1     839630746625142784
2     839630739335495681
3     839665182985097216
4     839765815494795264
...                  ...
7200  839852292778176513
7201  839927532803747844
7202  840076198235406336
7203  839859663973806084
7204  839850933987196928

[7205 rows x 1 columns]

In [109]:
path = f'{folder}//NLP_CSS_2017/hostile_sexist.tsv'
tweet4 = pd.read_csv(path, sep='\t', header=None)
tweet4

                       0
0     572346080911736832
1     572348198062170112
2     572348106202750976
3     572319306387599360
4     572347842456522752
...                  ...
3373  570244879265206272
3374  571013698111860736
3375  571304517930774528
3376  575664315627216896
3377  575693174632542210

[3378 rows x 1 columns]

## EXIST : sEXism Identification in Social neTworks
- Sesixm Identification
- Sexism Categorization

### 2021 ( same as 2022 )
- 스페인어 데이터도 섞여있음. 
- 스페인어 데이터 중에 영어도 섞여있어서, 솎아내면 될듯
- 아니면 translate 된 데이터를 이용해도 됨

In [128]:
path = f'{folder}/EXIST2022-main/data/EXIST2022_orig/EXIST_2022_Dataset/training_merged/EXIST2021_training_merged.tsv'
EXIST21 = pd.read_csv(path, sep='\t')
EXIST21

,test_case,id,source,language,text,task1,task2
0,EXIST2021,1,twitter,en,"She calls herself ""anti-feminazi"" how about sh...",sexist,ideological-inequality
1,EXIST2021,2,twitter,en,"Now, back to these women, the brave and the be...",non-sexist,non-sexist
2,EXIST2021,3,twitter,en,"@CurvyBandida @Xalynne_B Wow, your skirt is ve...",sexist,objectification
3,EXIST2021,4,twitter,en,@AurelieGuiboud Incredible! Beautiful!But I l...,non-sexist,non-sexist
4,EXIST2021,5,twitter,en,i find it extremely hard to believe that kelly...,non-sexist,non-sexist
...,...,...,...,...,...,...,...
13949,EXIST2021,6973,twitter,es,"We are the same without a partner, but you can...",non-sexist,non-sexist
13950,EXIST2021,6974,twitter,es,2020 son of re thousand bitches,non-sexist,non-sexist
13951,EXIST2021,6975,twitter,es,SURELY THIS GIRL DOESN'T GET PAID THE MONEY I ...,non-sexist,non-sexist
13952,EXIST2021,6976,twitter,es,@safetyaitana mi madre dice q va fea y i agree,sexist,objectification
13953,EXIST2021,6977,twitter,es,Do you also have that shitty tradition in your...,sexist,stereotyping-dominance

In [155]:
path = f'{folder}/EXIST2022-main/data/EXIST2022_orig/EXIST_2022_Dataset/training/EXIST2021_training.tsv'
EXIST21 = pd.read_csv(path, sep='\t')
EXIST21

,test_case,id,source,language,text,task1,task2
0,EXIST2021,1,twitter,en,"She calls herself ""anti-feminazi"" how about sh...",sexist,ideological-inequality
1,EXIST2021,2,twitter,en,"Now, back to these women, the brave and the be...",non-sexist,non-sexist
2,EXIST2021,3,twitter,en,"@CurvyBandida @Xalynne_B Wow, your skirt is ve...",sexist,objectification
3,EXIST2021,4,twitter,en,@AurelieGuiboud Incredible! Beautiful!But I l...,non-sexist,non-sexist
4,EXIST2021,5,twitter,en,i find it extremely hard to believe that kelly...,non-sexist,non-sexist
...,...,...,...,...,...,...,...
6972,EXIST2021,6973,twitter,es,"Estamos igual sin pareja, pero puedes besar a ...",non-sexist,non-sexist
6973,EXIST2021,6974,twitter,es,2020 hijo de re mil putas,non-sexist,non-sexist
6974,EXIST2021,6975,twitter,es,SEGURAMENTE ESTA CHICA NO COBRA EL DINERO QUE ...,non-sexist,non-sexist
6975,EXIST2021,6976,twitter,es,@safetyaitana mi madre dice q va fea y i agree,sexist,objectification
6976,EXIST2021,6977,twitter,es,¿En vuestras casas también tenéis esa tradició...,sexist,stereotyping-dominance

## HatEval2019 (from EXIST)
- 스페인어 데이터도 있는데 번역해서 사용하면 될듯 함
- 'new' 달려있는건 특별한것 없음. label encoding하고 null값 제거한 놈인듯

In [160]:
hatfolder = 'G:/내 드라이브/workspace/2023-research/biased-sentence-classifier/dataset/EXIST2022-main/data/Further_Datasets/HatEval2019/hateval_orig_and_ transl_just_sexism_prepr'
path = f'{hatfolder}/hateEval_Orig_and_TR_train_sexism.tsv'
hateval = pd.read_csv(path, sep='\t')
hateval

,id,language,text,Task1
0,7,en,ExTeacher Pleads Not guilty To Rape Charges,non-sexist
1,20,en,Close the tunnels with gunpowder,non-sexist
2,24,en,And why should he now buckle to their demands ...,non-sexist
3,58,en,Guatemalan mother separated from her yearold d...,non-sexist
4,64,en,Right on,non-sexist
...,...,...,...,...
15225,26995,es,I am proud to be a hysterical woman,non-sexist
15226,26996,es,Hollywood is complicit in the rape and sexua...,non-sexist
15227,26997,es,What a fucking cunt I hate seeing kids getti...,sexist
15228,26998,es,Hysterical woman like,non-sexist
15229,26999,es,Nearly every woman I know has in their feed ...,non-sexist

In [163]:
hateval['Task1'].unique()

array(['non-sexist', 'sexist'], dtype=object)

## MeTwo (from EXIST)

In [220]:
tagfolder = 'G:/내 드라이브/workspace/2023-research/biased-sentence-classifier/dataset/EXIST2022-main/data/Further_Datasets/MeTwo/MeTwo_ORIGINAL'
path = f'{tagfolder}/MeTwo_EN_orig_ES_transl.tsv'
metwo = pd.read_csv(path, sep='\t')
metwo

,id,language,text,task1
0,1,es,hoy a la mañana me quisieron levantar a un aut...,SEXIST
1,2,es,@funesmemoriosa @Leaobutron Lo que pasa es que...,SEXIST
2,3,es,Anoche a la salida del boliche dos chicos tira...,SEXIST
3,4,es,@tjcope y va la tonta y pregunta por la prensa...,SEXIST
4,5,es,"Que no me cuentes tu vida, niñata. https://t.c...",NON_SEXIST
...,...,...,...,...
6661,6662,en,"""Experiments that arise in the idleness of the...",NON_SEXIST
6662,6663,en,Much feminism but the Pedroche in tits.�Why do...,SEXIST
6663,6664,en,sister was telling stepmother that a gum bough...,NON_SEXIST
6664,6665,en,"@ AdrianFtm24 @ s0ymia A lot of feminism, but ...",SEXIST
6665,6666,en,"A lot of men don't like women, you just want t...",NON_SEXIST

## Call me sexist but, (from EXIST)

In [227]:
f = 'G:/내 드라이브/workspace/2023-research/biased-sentence-classifier/dataset/EXIST2022-main/data/Further_Datasets'
path = f'{f}/CMSB_EN_orig.csv'
cmsb = pd.read_csv(path)
cmsb

,id,dataset,text,toxicity,sexist,of_id;;;;;
0,0,other,MENTION3481 i didn't even know random was an o...,0.118180156,False,-1;;;;;
1,1,other,Bottom two should've gone! #mkr,0.25184965,False,-1;;;;;
2,2,callme,MENTION3111 MENTION3424 ladyboner deserves so ...,0.11333082,False,-1;;;;;
3,3,other,She shall now be known as Sourpuss #MKR #KatAn...,0.53115267,False,-1;;;;;
4,4,other,Tarah W threw a bunch of women under the bus s...,0.11871842,False,-1;;;;;
...,...,...,...,...,...,...
14653,13630,callme,this reminds me of the MENTION3079 situation; ...,0.14704408,False,-1;;;;
14654,13631,other,#mkr I love Annie and loyld there like a real ...,0.21310563,False,-1;;;;;
14655,13632,other,No u. http://t.co/zOr0eWahSS,0.3247021,False,-1;;;;;
14656,13633,other,#mkr the way kat looks at Annie is like she's ...,0.5630361,False,-1;;;;;
14657,"13634,other,""#mkr omg the kiss stains on the ""...",NaN,NaN,NaN,NaN,NaN

## ISEP (from EXIST)
- ISEP가 뭔 데이터셋인지는 몰겠음

In [232]:
path = f'{f}/ISEP_EN_orig.csv'
isep = pd.read_csv(path, header=None)
isep

                                                      0  1
0                             For a woman, that is good  1
1       Just dress sexy and you will sign any contract.  1
2                               Are you having period ?  1
3                                     Stop being bitchy  1
4     I leave early because of her children instead ...  1
...                                                 ... ..
1137  Women Do six percent of the Work but get all o...  1
1138   My Big Bang Theory Is: Women Don’t Like Physics.  1
1139   this area of study was invented and built by men  1
1140  Katie and several other women scientists on ou...  0
1141  There’s a trove of research suggesting that wo...  0

[1142 rows x 2 columns]

## SSC (from EXIST)
- ssc가 뭔 데이터셋인지 몰겟고 class가 뭔지도 잘 몰겠음

In [234]:
path = f'{f}/SSC_EN_orig.csv'
ssc = pd.read_csv(path)
ssc

                                                  texts  scores  class
0     So begin today. Each criticism that you face, ...       0      0
1     It's Sunday. Y'all dirty minded people should ...       0      0
2     Whoever decided the phrase smash your backdoor...       0      0
3     Trying to convince Adam to make me some flower...       1      2
4     i wore this dress last year but now its too sh...       0      0
...                                                 ...     ...    ...
5539  Follow us for more Feminist stories & quotes. . .       0      0
5540      rich white kids - - - - - - - - - - sivememes       0      0
5541  Got rid of the drabby brown and those shiney r...       0      0
5542  piggy longevily starred at me twice as I passe...       0      0
5543                  URGENT FUN? Swipe left! . . . . .       0      0

[5544 rows x 3 columns]